@media (max-width: 1270px) {

    .page-header .menu a {
        font-size: 18px;
    }

    /* ------------------------------- SEÇÃO INICIAL -------------------------------- */

    .home {
        flex-direction: column-reverse;
        min-height: calc(100vh - 72px);
    }

    .home .start {
        max-width: 100%;
        width: 100%;
        align-items: center;
        padding: 8px;
    }

    .home .start h2 {
        font-size: 32px;
    }

    .home .container-foto {
        width: 50%;
    }

    /* ---------------------- SEÇÃO ABOUT ME ---------------------- */

    .about-info {
        min-height: 100vh;
        width: 100%;
    }

    .about-info .container-about-me-info {
        flex-direction: column;
        gap: 100px;
    }

    .about-info .container-img {
        width: 65%;
    }

    .about-info .container-my-information {
        max-width: 100%;
        width: 90%;
        font-size: 22px;
    }

    /* ---------------------- SEÇÃO HABILIDADES ---------------------- */

    .skills-info {
        min-height: 100vh;
    }

    .skills-info .container-skills {
        height: 800px;
        height: fit-content;
    }

    .skills-info .container-skills ul {
        gap: 120px;
    }

    .skills-info .container-skills li {
        width: 100px;
        height: 100px;
    }

    .skills-info .container-skills img {
        max-width: 120px;
        max-height: 120px;
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        transition: 0.3s;
    }

    /* ---------------------- SEÇÃO PROJETOS ---------------------- */

    .projects-info .carousel .projects-cards {
        width: 600px;
        height: 350px;
    }

    .projects-info .carousel .projects-cards .about-my-project {
        width: 600px;
        height: 350px;
    }

}

@media (max-width: 768px) {

    .page-header {
        width: 100vw;
    }

    .menu a {
        display: none;
    }

    .menu-icon {
        display: block;
        font-family: 80px;
        z-index: 1100;
    }

    .menu-icon img {
        width: 40px;
        padding: 5px;
    }

    .sidebar {
        display: none;
    }

    .sidebar.active {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-color-5);
        justify-content: center;
        text-align: center;
        z-index: 1000;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }

    .sidebar ul li {
        margin: 40px 0;
        /* Espaçamento entre os itens da lista */
    }

    .sidebar ul li img {
        margin: 20px 0px;
        width: 170px;
    }

    .sidebar ul li a {
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 26px;
        justify-content: center;
    }

    .sidebar ul li a:hover {
        color: #5ac9e8;
    }

    .sidebar ul li a span {
        color: var(--primary-color);
        margin: 0 15px;
    }

    /* ------------------------------- SEÇÃO INICIAL -------------------------------- */

    .home {
        max-height: calc(100vh - 70px);
        width: 100vw;
    }

    .home .start {
        padding: 5px;
    }

    .home .start h3 {
        font-size: 27px;
    }

    .home .start h1 {
        font-size: 40px;
        color: var(--primary-color);
    }

    .home .start h1 span {
        font-size: 40px;
        color: var(--primary-color);
    }

    .home .start h2 {
        text-align: center;
        font-size: 33px;
    }

    .home .start h2 span {
        font-size: 33px;
        color: var(--primary-color);
    }

    .home .container-foto {
        width: 70%;
    }

    /* ---------------------- SEÇÃO ABOUT ME ---------------------- */

    .about-info {
        min-height: 100vh;
        width: 100vw;
    }

    .about-info .container-about-me-info {
        gap: 50px;
    }

    .about-info .container-my-information {
        font-size: 18px;
        align-items: center;
        letter-spacing: 3px;
    }

    /* ---------------------- SEÇÃO HABILIDADES ---------------------- */

    .skills-info {
        min-height: 100vh;
        width: 100%;
    }

    .skills-info .container-skills li {
        width: 60px;
        height: 60px;
    }

    .skills-info .container-skills {
        height: fit-content;
        width: 100%;
    }

    /* ---------------------- SEÇÃO PROJETOS ---------------------- */

    .projects-info {
        min-height: 100vh;
        width: 100vw;
    }

    .projects-info .carousel .projects-cards {
        width: 500px;
        height: 270px;
    }

    .projects-info .carousel .projects-cards .about-my-project {
        width: 500px;
        height: 270px;
    }

}

@media (max-width: 478px) {

    .home .start h3 {
        font-size: 26px;
    }

    .home .start h1 {
        font-size: 28px;
    }

    .home .start h2 {
        font-size: 26px;
    }

    .home .start h2 span {
        font-size: 26px;
    }

}

@media (max-width: 425px) {

    /* ------------------------------- SEÇÃO INICIAL -------------------------------- */

    .page-header .menu a {
        font-size: 12px;
    }

    .home {
        min-height: calc(100vh - 72px);
        width: 100vw;
    }

    .home .start h3 {
        font-size: 26px;
    }

    .home .start h1 {
        font-size: 28px;
    }

    .home .start h2 {
        font-size: 26px;
    }

    .home .start h2 span {
        font-size: 26px;
    }

    /* ---------------------- SEÇÃO ABOUT ME ---------------------- */

    .about-info {
        min-height: 100vh;
        width: 100vw;
    }

    .about-info .titulo {
        font-size: 28px;
    }

    .about-info .container-my-information {
        font-size: 14px;
    }

    /* ---------------------- SEÇÃO HABILIDADES ---------------------- */

    .skills-info {
        min-height: 100vh;
        width: 100vw;
    }

    .skills-info .titulo {
        font-size: 28px;
    }

    .skills-info .container-skills {
        padding: 15px;
    }

    .skills-info .container-skills ul {
        gap: 90px;
    }

    .skills-info .container-skills li {
        width: 60px;
        height: 60px;
        padding: 0;
        justify-content: space-evenly;
        height: fit-content;
    }

    .skills-info .container-skills p {
        font-size: 16px;
    }

    /* ---------------------- SEÇÃO PROJETOS ---------------------- */

    .projects-info {
        min-height: 100vh;
        width: 100vw;
    }

    .projects-info .titulo {
        font-size: 28px;
    }

    .projects-info .carousel .projects-cards {
        width: 400px;
        height: 170px;
    }

    .projects-info .carousel .projects-cards .about-my-project {
        width: 400px;
        height: 170px;
    }

    .projects-info .carousel .projects-cards .about-my-project h3 {
        font-size: 18px;
    }

    .btn-link {
        width: 120px;
        /* Definir largura fixa para os botões */
    }

    .about-my-project .btn-link {
        font-size: 14px;
    }

    /* ------------------------------- RODAPÉ -------------------------------- */

    footer {
        font-size: 14px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 250px) {
    /* ------------------------------- SEÇÃO INICIAL -------------------------------- */

    .home {
        min-height: calc(100vh - 70px);
        width: 100vw;
    }

    /* ---------------------- SEÇÃO ABOUT ME ---------------------- */

    .about-info {
        min-height: 100vh;
        width: 100vw;
    }

    /* ---------------------- SEÇÃO HABILIDADES ---------------------- */

    .skills-info {
        min-height: 100vh;
        width: 100vw;
    }

    /* ---------------------- SEÇÃO PROJETOS ---------------------- */

    .projects-info {
        min-height: 100vh;
        width: 100vw;
    }
}